@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

p, 
h1, 
h2, 
h3 {
    margin: 0;
}

/* HEADER STYLES START */
.header {
    background-color: #1f2937;
    padding-bottom: 48px;
}

/* ======== header-logo-links STYLES ======== */
.header-logo-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 48px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


.links {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.links a {
    text-decoration: none;
}

/* ======== header-logo-links STYLES END ======== */


/* ======== header-content STYLES ======== */

.header-content {
    display: flex;
    justify-content: center;
}

.title-subtext {
    width: 488px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 10px 0;
}

.subtext {
    padding-right: 24px;
}


.sign-up {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 600;
    background: #3b82f6;
    padding: 10px 30px;
    border: 0;
    border-radius: 8px;

    
}

/* ======== header-content STYLES END ======== */

/* HEADER STYLES END */


/* ======== SHARED STYLES ======== */
.links a,
.subtext {
    font-size: 18px;
    color: #E5E7EB;
}
/* ======== SHARED STYLES END======== */


/* ======== info-container STYLES ======== */
.info-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 30px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.wrapper-container {
    display: flex;
    gap: 24px;
    justify-content: center;
}

.img-subtext-container {
    max-width: 200px;
}

.illustration {
    border-radius: 14px;
}

.img-subtext {
    font-size: 18px;
    color: #6d747d;
}

.img-subtext, h2 {
    text-align: center;
}
/* ======== info-container STYLES END ======== */


/* ======== quotation STYLES ======== */
div:has(> blockquote) {
    background-color: #E5E7EB;
    padding: 24px;
}

blockquote {
    margin: 24px auto;
    max-width: 600px;
}

.quote-text {
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
}

blockquote p:nth-child(2) {
    text-align: right;
    font-weight: bold;
    padding-right: 30px;
}
/* ======== quotation STYLES END ======== */


/* ======== action-container STYLES ======== */
.action-container {
    padding: 40px 0;
}

.action-call {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    background-color: #3b82f6;
    justify-content: space-evenly;
    padding: 40px 20px;
    border-radius: 8px;

}

.content {
    color: #F9FAF8;
}

.bt-action-call {
    border: solid #F9FAF8;
}



/* ======== action-container STYLES END ======== */